<% include ./partials/header %>
<a href="/">Go back</a>
<h1>Courses</h1>
<% courses.forEach(course => { %>
  <h3><%= course.name %></h3>
  <p><%= course.description %></p>
<% }) %>
<% include ./partials/footer %>