<% include ./partials/header %>
<h1>What is your major?</h1>
<select name="major" id="major-dropdown">
  <option value="CSCI">Computer Science</option>
  <option value="ECON">Economics</option>
  <option value="CHEM">Chemistry</option>
</select>
<button id="major-dropdown-submit">Submit</button>
<% include ./partials/footer %>