<% include ./partials/header %>
<h1>Students</h1>
<% students.forEach(student => { %>
  <h3><%= student.firstName %> <%= student.lastName %> - <%= student.classification ? student.classification : 'No classification' %></h3>
  <ul>
    <% student.completedCourses.forEach(course => { %>
      <li><%= course.name %></li>
    <% }) %>
  </ul>
<% }) %>
<% include ./partials/footer %>